.my-work-sheet {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 72px;
    color: black;
}

.p-20 {
    padding: 20px 20px 20px 20px;
}

.max-width-458 {
    max-width: 458px;
    border: 2px solid grey;
}

.box-shadw:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 6px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 27px;
    transition: all 400ms linear;
}

.mt-24 {
    margin-top: 24px !important;
}

.tab-button {
    padding: 17px 40px;
    font-family: "montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: #F53838;
    color: #ffffff;
    border: 1px solid #F53838;
    transition: 0.3s linear;
    border-radius: 10px;
}

.tab-button:hover {
    background-color: #ffffff;
    color: #F53838;
    border: 1px solid #F53838;
}

/* monthly-pages */
.january-topics {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
}

.one:hover {
    background-color: red;
    color: white;
    transition: all 350ms linear;
}

.one {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    color: red;
    border: 2px solid red;
    border-radius: 7px;
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solana-business {
    max-width: 250px;
    height: 188px;
    border-radius: 23px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.cloop {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: black;
}

.date-of-submission {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: black;
    opacity: 60%;
    font-weight: 400;
    line-height: 36px;
    color: grey;
}

/*  */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-button.active {
    background-color: red;
    color: white;
}